<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="http://localhost:8080/static/css/bootstrap.min.css" rel="stylesheet">

    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <h1>{{ .Titel}}</h1>


    <div class="row">
        <div class="col col-lg-3">
            {{ .Navigation }}

            </ul>
        </div>
        <div class="col col-lg-9">
            {{.Inhalt}}
        </div>
    </div>


</div>

<script src="http://localhost:8080/static/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>