<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> {{ .WebsiteTitel}} </h1>
<ul>
{{range .Navigation}}
<li>{{ .}}</li>
{{end}}
</ul>
{{.Inhalt}}
</body>
</html>